.contactConteiner {
    height: 100vh;
    width: 98vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Title {
    display: none;
}

.contactConteiner a{
    text-decoration: none;
    color: rgb(209, 209, 209);
}

.contactConteiner a:hover {
    cursor: pointer;
}

.email {
    font-size: 4.5rem;
    margin: 0;
    position: relative;
    display: inline-block;
}

.email::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 0.2rem;
    bottom:0;
    left: 0;
    background-color: rgb(209, 209, 209);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.6s ease-out;
}

.email:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
    cursor: pointer;
}

@media screen and (max-width: 1400px) {
    .email {
        font-size: 3rem;
    }
}

@media screen and (max-width: 991px) {
    .contactConteiner {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .email {
        font-size: 1.2rem;
        margin-left: 2%;
        margin-right: 2%;
    }

    .Title {
        display: flex;
        justify-content: end;
        align-items: center;
        margin-top: 51vh;
        margin-bottom: 100vh;
        padding-right: 0%;
        padding-bottom: 2%;
        position: absolute;
        top: 484vh;
        width:92%;
        border-bottom: 2px solid rgb(209, 209, 209);
    }
}
