.datosPersonales {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 30%;
    margin-left: 20%;
    height: 20vh;
    font-weight: bolder;
    font-size:x-large;
    color: rgb(209, 209, 209);
}