.conteiner {
    height: 80vh;
    margin-bottom: 20vh;
}

.frontEnd {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 8vh;
    margin-left: 3%;
    padding-bottom: 0;
}

.frontEnd h1 {
    display: flex;
    align-items: center;
    color: rgb(209, 209, 209);
    font-size: 6rem;
    margin-left: 2vw;
    margin: 0;
    margin-left: 1vw;
}

.imagen {
    height: 195px;    
    width: 450px;
    object-fit: cover;
    object-position: 0% 27%;
}

.nombre {
    height: 45vh;
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-right: 5%;
    color: rgb(209, 209, 209);
}

.lemaImg {
    height: 100%;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nombre h1 {
    display: flex;
    align-items: center;
    font-size: 6rem;
    margin-left: 2vw;
}

.nombre p {
    font-size: xx-large;
    font-weight: bold;
}

.imagen2 {
    margin-top: 6vh;
    margin-left: 5vw;
    margin-right: 2vw;
    height: 100px;
}

@media screen and (max-width: 1400px) {
    .frontEnd h1 {
        font-size: 4rem;
    }

    .imagen {
        height: 135px;    
        width: 390px;
    }

    .nombre h1 {
        font-size: 4rem;
    }

    .nombre p {
        font-size: x-large;
    }
}

@media screen and (max-width: 991px) {
    .imagen {
        display: inline;
        height: 25vh;    
        width: 94vw;
    }

    .frontEnd {
        margin-top: 10vh;
        width: 90%;
        display: inline-block;
    }

    .frontEnd h1 {
        margin-top: 5vh;
        font-size: 3.5rem;
    }

    .nombre h1{
        font-size: 2.4rem;
        text-align: end;
        display: none;
    }

    .lemaImg{
        margin: 0;
        width: 70%;
        height: 25vh;
        padding: 0;
        text-align: start;
    }



}


