.ContainerImagen {
    height: 100vh;
    width: 100%;
}

.ContainerBackground {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.Pureba {
    border: 2px solid red;
    height: 100vh;
    width: 100%;
}