.ConteinerImagen {
    height: 70vh;
    width: 98.8vw;
    background-image: url("/Baires.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: -1;
}

.ConteinerSombra {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color:rgba(0, 0, 0, 0.8) ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.escrito {
    color: rgb(209, 209, 209);
    height: 70vh;
    width: 65%;
    margin-left: 3%;
    font-size: 4rem;

}

.escrito p {
    font-weight: bold;
    margin-top: 20vh;
}

.separador {
    height: 60vh;
    width: 0%;
    margin-left: 5%;
    margin-right: 5%;
    border-left: 3px solid rgb(209, 209, 209);
}

.imagen {
    width: 20%;
    height: 50vh;
    margin-left: 2%;
    margin-right: 5%;
    object-fit: cover;

}