.ConteinerImagen {
    height: 70vh;
    width: 98vw;
    background-image: url("../Fondos/Baires.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: -1;
    margin-bottom: 30vh;
}

.ConteinerSombra {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color:rgba(0, 0, 0, 0.8) ;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.escrito {
    color: rgb(209, 209, 209);
    height: 70vh;
    width: 65%;
    margin-left: 3%;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.escrito p {
    font-weight: bold;
}

.separador {
    height: 60vh;
    width: 0%;
    margin-left: 5%;
    margin-right: 5%;
    border-left: 3px solid rgb(209, 209, 209);
}

.imagen {
    width: 20%;
    height: 50vh;
    margin-left: 2%;
    margin-right: 5%;
    object-fit: cover;

}

@media screen and (max-width: 1400px) {
    .escrito p {
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 991px) {
    .ConteinerImagen{
        margin-top: 5vh;
        margin-bottom: 10vh;
    }

    .escrito p {
        font-size: 1rem;
    }


    .imagen {
        height: 40vh;
    }

}